<svg xmlns="http://www.w3.org/2000/svg" width="161.5" height="40.823" viewbox="0 0 161.5 40.823">
	<g id="Group_163987" data-name="Group 163987" transform="translate(0 0)" opacity="0.802">
		<path id="Path_101948" data-name="Path 101948" d="M.048,0,0,.048V6.164L6.163,0Z" transform="translate(0)" fill="#def7e5"/>
		<path id="Path_101949" data-name="Path 101949" d="M12.278,0,0,12.278v6.115L18.392,0Z" transform="translate(0)" fill="#def7e5"/>
		<path id="Path_101950" data-name="Path 101950" d="M24.508,0,0,24.508v6.115L30.623,0Z" fill="#def7e5"/>
		<path id="Path_101951" data-name="Path 101951" d="M36.739,0,0,36.738v3.394H2.72L42.853,0Z" transform="translate(0)" fill="#def7e5"/>
		<path id="Path_101952" data-name="Path 101952" d="M49.312,0,9.18,40.132h6.114L55.426,0Z" transform="translate(-0.354)" fill="#def7e5"/>
		<path id="Path_101953" data-name="Path 101953" d="M62.032,0,21.9,40.132h6.115L68.147,0Z" transform="translate(-0.844)" fill="#def7e5"/>
		<path id="Path_101954" data-name="Path 101954" d="M74.742,0,34.621,40.132h6.1L80.857,0Z" transform="translate(-1.334)" fill="#def7e5"/>
		<path id="Path_101955" data-name="Path 101955" d="M87.462,0,47.33,40.132h6.114L93.577,0Z" transform="translate(-1.823)" fill="#def7e5"/>
		<path id="Path_101956" data-name="Path 101956" d="M100.182,0,60.05,40.132h6.115L106.3,0Z" transform="translate(-2.313)" fill="#def7e5"/>
		<path id="Path_101957" data-name="Path 101957" d="M112.9,0,72.771,40.132h6.114L119.017,0Z" transform="translate(-2.803)" fill="#def7e5"/>
		<path id="Path_101958" data-name="Path 101958" d="M125.622,0,85.48,40.132h6.114L131.736,0Z" transform="translate(-3.293)" fill="#def7e5"/>
		<path id="Path_101959" data-name="Path 101959" d="M138.332,0,98.2,40.132h6.115L144.438,0Z" transform="translate(-3.783)" fill="#def7e5"/>
		<path id="Path_101960" data-name="Path 101960" d="M151.043,0,110.92,40.132h6.105L157.158,0Z" transform="translate(-4.273)" fill="#def7e5"/>
		<path id="Path_101961" data-name="Path 101961" d="M163.762,0,123.631,40.132h6.114L166.262,3.615V0Z" transform="translate(-4.762)" fill="#def7e5"/>
		<path id="Path_101962" data-name="Path 101962" d="M136.35,40.522h6.115l24.287-24.287V10.12Z" transform="translate(-5.252 -0.39)" fill="#def7e5"/>
		<path id="Path_101963" data-name="Path 101963" d="M149.07,41.012h6.115l12.057-12.057V22.84Z" transform="translate(-5.742 -0.88)" fill="#def7e5"/>
		<path id="Path_101964" data-name="Path 101964" d="M161.789,41.5h5.942V35.56Z" transform="translate(-6.232 -1.37)" fill="#def7e5"/>
	</g>
	<path id="Path_101947" data-name="Path 101947" d="M161.369,577.064H.131c-.072,0-.131-.309-.131-.691s.059-.684.131-.691H161.369c.072.007.129.312.131.691s-.059.691-.131.691" transform="translate(0 -536.241)" fill="#92e3a9"/>
</svg>
