<svg xmlns="http://www.w3.org/2000/svg" width="108" height="15" viewbox="0 0 108 15">
	<text id="_03." data-name="03." fill="#263238" font-size="15" font-family="Syne-Regular, Syne">
		<tspan x="0" y="12">0{{ number | default('01') }}.</tspan>
	</text>
</svg>
