<svg class="animate-pulse" xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewbox="0 0 52 52">
	<g id="Ellipse_416" data-name="Ellipse 416" fill="#d91f1f" stroke="#fff" stroke-width="1">
		<circle cx="26" cy="26" r="26" stroke="none"/>
		<circle cx="26" cy="26" r="25.5" fill="none"/>
	</g>
	<text id="_06" data-name="06" transform="translate(19 31)" fill="#fff" font-size="14" font-family="Helvetica">
		<tspan x="0" y="0">{{ number | default('01') }}</tspan>
	</text>
</svg>
