<section>
	<div class="wrapper lg:pt-10 pb-20">
		{% if block.heading|length %}
			<div>
				<p class="h2 mb-5 lg:mb-10 text-center">{{ block.heading }}</p>
			</div>
		{% endif %}
		<div class="accordian">
			{% for entry in block.accordian %}
				<details class="my-2">
					<summary class="entry-text">{{ entry.heading }}</summary>
					{{ entry.description }}
				</details>
			{% endfor %}
		</div>
	</div>
</section>
