<section class="mt-10 md:mt-[40px] mb-[90px] lg:mb-[190px]">
	<div class="wrapper relative">
		<p class="text-center h3 text-blue-darkBg mb-10 lg:mb-14">Trusted brands we work with</p>
		<div class="grid grid-cols-2 items-center justify-items-center md:grid-cols-3 justify-between lg:flex">
			{% for asset in block.brandImage %}
				<a target="_blank" href="{{ asset.businessLink }}">
					<div class="grid justify-items-center max-w-[140px] lg:max-w-[100px] mx-5 mb-10 lg:mb-0 w-full">
						<img class="h-full mx-3 w-full object-contain" src="{{ asset.url }}" alt="brand-logo">
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
