<section class="pt-10 md:pt-20 lg:pt-40">
	<div class="wrapper items-center pt-5 md:pt-10 lg:pt-0">
		<div class="max-w-[30rem] m-auto text-center">
			<h2 class="text-center">{{ block.heading|striptags('<b><strong>')|raw }}</h2>
			<div class="mt-8">
				{{ block.description }}
			</div>
			{% if block.linkPage.getUrl|length %}
				<div class="sm:mt-8 pt-4 text-center" data-aos="fade-up">
					{% include "_globals/button.twig" with {
                            text: block.linkPage.getCustomText(),
                            type: 'secondary',
                            href: block.linkPage.getUrl,
							classes:'m-auto'
                        } %}
				</div>
			{% endif %}
		</div>

	</div>
</section>
