<section class="bg-[#F4EAE0] pt-10 md:pt-20 lg:pt-40 pb-10 md:pb-20 lg:pb-40 rounded-3xl mt-10">
	<div class="wrapper items-center pt-5 md:pt-10 lg:pt-0">
		<div class="max-w-[30rem]">
			<h2 class="relative">{{ block.heading|striptags('<b><strong>')|raw }}</h2>
		</div>
		<div class="grid md:grid-cols-3 mt-20 gap-8 styling-grid border-b pb-10">
			<div class="border-t border-text pt-8">{{ block.leftColumn }}</div>
			<div class="border-t border-text pt-8">{{ block.centerColumn }}</div>
			<div class="border-t border-text pt-8">{{ block.rightColumn }}</div>
		</div>
		<div class="md:flex">
			<div class="md:w-1/3 flex items-center">
				<div>
					<h3>Let’s schedule a consultation</h3>
					{% if block.linkPage.getUrl|length %}
						<div class="sm:mt-8 pt-4 text-center" data-aos="fade-up">
							{% include "_globals/button.twig" with {
                            text: block.linkPage.getCustomText(),
                            type: 'secondary',
                            href: block.linkPage.getUrl,
							classes:''
                        } %}
						</div>
					{% endif %}
				</div>

			</div>
			<div class="md:w-2/3 max-h-[500px]">
				{% for asset in block.image %}
					<img class="w-full h-full object-contain xl:object-cover object-center" src="{{ asset.url }}" alt="">
				{% endfor %}
			</div>
		</div>
	</div>
</section>
