<section class="w-full pt-40 md:pt-48 pb-16 z-40 bg-blue-darkBg relative">

	<div class="absolute rotate-180 mb-[-40px] md:mb-[-60px] lg:mb-[-80px] xl:mb-[-100px] bottom-0 md:h-[60px] h-[40px] lg:h-[80px] xl:h-[100px] w-full"><img class="w-full h-full object-cover" src="{{ siteUrl }}images/footer.png" alt="footer"></div>
	<div class="wrapper overflow-hidden grid xl:flex w-full justify-between">
		<div class="grid order-last xl:order-first self-center w-full mr-20">
			<div id='contact-success' class="hidden text-white py-20 text-center">

				<p class="uppercase h3 mb-0">Thank you for your email</p>
				<p class="mb-2">We will be back in touch as soon as possible</p>
				<p class="italic text-[14px]">- The Hearing Healthcare Centre</p>

			</div>

			<form data-action="Form" accept-charset="UTF-8">

				<div class="header-fade-1 text-white">
					<div class="contact-btn pb-5">
						<p class="h1">{{ block.heading }}</p>
					</div>
					<div class="mb-5">
						<p class="leading-3 text-[16px] mb-4">Tel:
							<a class="text-blue-light" href="tel:01534866477">01534 866477</a>
						</p>
						<p class="leading-3 text-[16px]">Email:
							<a class="text-blue-light" href="mailto:info@hearinghealthcare.je">info@hearinghealthcare.je</a>
						</p>
					</div>
					<div>
						<p class="leading-3 mb-2 text-[16px]">The Hearing Healthcare Centre</p>
						<p class="leading-3 mb-2 text-[16px]">Little Grove Clinic</p>
						<p class="leading-3 mb-2 text-[16px]">Rue de Haut</p>
						<p class="leading-3 mb-2 text-[16px]">St Lawrence</p>
						<p class="leading-3 mb-2 text-[16px]">Jersey JE3 1JZ</p>
					</div>
				</div>

				{{ csrfInput() }}
				{{ redirectInput('thank-you') }}

				<div class="form-group header-fade-2 lg:flex pt-5 self-center justify-between  lg:pb-5">
					<div class="w-full border-b border-white mb-3 lg:mb-0">
						<input required type="text" class="pl-0 placeholder-white text-white border-b border-white w-full bg-opacity-0  bg-white hover:cursor-crosshair placeholder-opacity-100 hover:bg-opacity-30 transition-all duration-300 hover:transition-all hover:duration-300 " name='fromName' placeholder="First name">
					</div>
					<div class="w-full lg:ml-5  mb-3 lg:mb-0 border-b border-white">
						<input type="text" class="  pl-0 placeholder-white text-white border-b border-white w-full bg-opacity-0  bg-white hover:cursor-crosshair placeholder-opacity-100 hover:bg-opacity-30 transition-all duration-300 hover:transition-all hover:duration-300 " name='message[Last Name]' placeholder="Last name">
					</div>

				</div>
				<div class="form-group header-fade-2 lg:flex self-center justify-between  lg:pb-5">

					<div class="w-full border-b mb-3 lg:mb-0 border-white">
						<input required type="email" class="pl-0 placeholder-white text-white border-b border-white w-full bg-opacity-0  bg-white hover:cursor-crosshair placeholder-opacity-100 hover:bg-opacity-30 transition-all duration-300 hover:transition-all hover:duration-300 " name='fromEmail' placeholder="Email address" required>
					</div>

					<div class="w-full lg:ml-5  mb-3 lg:mb-0 border-b border-white">
						<input type="text" class="placeholder-white pl-0 border-b text-white border-white w-full bg-opacity-0  bg-white hover:cursor-crosshair placeholder-opacity-100 hover:bg-opacity-30 transition-all duration-300 hover:transition-all hover:duration-300 " name="message[Phone]" placeholder="Phone number" required>
					</div>

				</div>

				<div class="form-group header-fade-2 border-b border-white flex mb-5">
					<div class="w-full ">
						<textarea type="text" class="hover:bg-opacity-20 active:bg-opacity-60 text-white placeholder-white hover:bg-white transition-all duration-300 hover:transition-all hover:duration-300  w-full border-b h-[100px] lg:h-[150px] pl-0 border-white border-0 bg-opacity-0 bg-white hover:cursor-crosshair" name='message[Body]' placeholder="Type your message here"></textarea>
					</div>
				</div>

				<div>{{ craft.contactFormExtensions.recaptcha | raw }}</div>

				<div class="flex header-fade-2 justify-between md:justify-start">
					<button aria-label="submit-btn" type="submit" class="text-white hover:drop-shadow-lg hover:scale-105 items-center flex hover:bg-red transition-all duration-300 mt-5 lg:mt-0 content-center order-last lg:order-first h-[50px] border border-white bg-blue-light px-10 hover:bg-green-dark bg-teal-dark rounded-full ease-in-out">
						<span class="submit-text mr-5">Submit message</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="13.514" height="11.481" viewbox="0 0 13.514 11.481">
							<g id="Group_166133" data-name="Group 166133" transform="translate(-359.193 -1398.646)">
								<g id="Group_165974" data-name="Group 165974" transform="translate(41.091 76)">
									<path id="Path_8433" data-name="Path 8433" d="M163.327,13.956l5.387-5.387-5.387-5.387" transform="translate(162.195 1319.818)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"/>
									<line id="Line_163" data-name="Line 163" x2="12.807" transform="translate(318.103 1328.365)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1.5"/>
								</g>
							</g>
						</svg>

					</button>
				</div>
			</form>
		</div>
		<div class="h-full header-fade-3 overflow-hidden mb-10 xl:mb-0 grid order-first xl:order-last w-full">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10427.697349359127!2d-2.153489687341309!3d49.20199488486284!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480dad6aef47a91d%3A0x224864a376e58dd8!2sThe%20Hearing%20Healthcare%20Centre!5e0!3m2!1sen!2sje!4v1725461478643!5m2!1sen!2sje" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

		</div>
	</div>

</section>
