<section id="{{ block.heading|replace({' ': ''})|lower|striptags }}">
	<div class="mx-[10%] {% if block.paddingTop == " 1" %} pt-20 lg:pt-40 {% else %} pt-10 {% endif %} {% if block.paddingBottom == " 1" %} pb-10 lg:pb-20 {% else %} pb-10 {% endif %}">
		{% if block.showNav == " 1" %}
			<div class="mb-20 grid-cols-2 pt-5 grid lg:flex md:px-10 max-w-[1500px] m-auto justify-center">
				{% for block in entry.matrixIncludes.all() %}
					{% if block.type == "heading" %}
						<a class="mb-2 md:mb-3 heading-navs{% if loop.index == '1' %}hidden{% endif %}" href="#{{ block.heading|replace({' ': ''})|lower|striptags }}">
							<div class="px-5 md:px-10 text-center py-3 md:py-5 lg:py-4  rounded-lg mx-2 heading-nav hover:bg-blue-darkBg transition-all duration-200 bg-blue-dark">
								{{ block.heading }}
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{% if block.heading|length %}
			<div class="md:text-center text-blue-dark heading-block">{{ block.heading }}</div>
		{% endif %}
		{% if block.subHeading|length %}
			<div class="h2 max-w-[800px] m-auto mt-5 md:mt-10 mb-5 md:text-center">{{ block.subHeading }}</div>
		{% endif %}
	</div>
</section>
