<section class="w-full z-40 relative overflow-hidden ">
	<div class="h-full relative">
		<div class="grid max-h-[800px] min-h-[700px] lg:max-h-[912px] h-screen lg:h-[912px] md:right-0 right-[50%] md:w-full w-[150%] relative">
			{% for asset in block.backgroundImage %}
				<img src="{{ asset.url({height:1000}) }}" class="h-full md:scale-x-100 object-cover w-full" alt="background"/>
			{% endfor %}
		</div>
		<div class="wrapper place-items-center absolute h-full w-full py-2.5 top-0 inset-x-0 text-white text-xs  leading-4">
			<div class="mt-20 grid h-full content-center md:w-full {% if entry is defined and entry.slug == 'homepage' %} max-w-[640px] {% else %} max-w-[510px] {% endif %}">
				<h1 class="h1 text-white">{{ block.heading }}</h1>
				<div class="lg:my-10 my-5 overflow-hidden border-white lg:pl-10 border-l-[3px] pl-5">
					<h2 class="fadeLeft-3 h3 w-[80%] text-left text-white">{{ block.subHeading }}</h2>
				</div>
				<div class="md:flex mt-3">
					{% if entry.slug == "ear-wax-removal" or entry.slug == "hearing-protection" %}

						{% include "_globals/button.twig" with {
					text: 'Book Online',
					href: "https://myhearingportal.com/?clinic=P2FwaUtleT15ZDZyMWZyWlp6dFYmY2xpbmljTmFtZT1VS19oaGMmbG9nbz1odHRwOi8vd3MxLmJwLXNvbHV0aW9ucy5uZXQvVUsvaGhjMDEzMDE5L29tc2NsaWVudC9VS19oaGNfbG9nby5qcGcmbG9jYWxlPWVuX0dC",
					classes: 'rounded-lg header-fade-2 h-[50px] px-10 ml-0 bg-yellow text-blue-darkBg border-none hover:text-white hover:bg-blue-dark transition ease-in-out'
					} %}
					{% else %}
						{% include "_globals/button.twig" with {
					text: 'Book an appointment',
					href: "contact",
					classes: 'rounded-lg header-fade-2 h-[50px] px-10 ml-0 bg-yellow text-blue-darkBg border-none hover:text-white hover:bg-blue-dark transition ease-in-out'
					} %}
					{% endif %}
					{% include "_globals/button.twig" with {
					text: 'Contact us',
					href: "contact",
					classes: 'rounded-lg header-fade-3 hidden md:grid content-center text-blue-darkBg h-[50px] px-10 ml-5 bg-opacity-0 bg-white text-blue-dark border-opacity-0 hover:text-white hover:bg-blue-dark transition ease-in-out'
					} %}
				</div>
			</div>
		</div>
		<div class="absolute mr-[100px] mb-[100px] bottom-0 right-0">
			<svg xmlns="http://www.w3.org/2000/svg" width="14.889" height="33.304" viewbox="0 0 14.889 33.304">
				<g id="Group_164221" data-name="Group 164221" transform="translate(-742.3 -950.541)">
					<path id="Path_96201" data-name="Path 96201" d="M38.351,5.174A4.674,4.674,0,1,1,33.678.5,4.674,4.674,0,0,1,38.351,5.174Z" transform="translate(716.071 951.041)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
					<line id="Line_377" data-name="Line 377" y2="16.206" transform="translate(749.744 966.224)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
					<path id="Path_96202" data-name="Path 96202" d="M.354,335.038l6.737,6.741,6.737-6.741" transform="translate(742.653 640.651)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2"/>
				</g>
			</svg>
		</div>
	</div>
</section>
