<section class="relative z-0 h-[600px] md:h-[500px]">
	<div class="h-full w-full">
		<div class="relative h-full z-0">
			<img class="w-full h-full object-cover" src="{{ siteUrl }}images/signup-bg.png" alt="">
		</div>
	</div>
	<div class="absolute  grid content-center h-full w-full text-center top-0 z-10">
		<div class="max-w-[700px] text-white grid justify-self-center newsletter-header">
			<div id='contact-success3' class="hidden py-5">
				<div class="flex">
					<p class="h2 text-bold">You're
						<strong>Subscribed!</strong>
					</p>
				</div>
			</div>

			<form data-success='#contact-success3' data-action="Form" accept-charset="UTF-8">
				{{ csrfInput() }}
				<p class="mb-5 h2">Sign up to our
					<strong>newsletter</strong>
				</p>
				<div class="flex">
					<div class="md:flex w-2/3 md:w-full m-auto h-[50px]">
						<input type="text" class="hover:bg-opacity-30 hidden hover:bg-green w-full mt-5  transition-all duration-300 hover:transition-all hover:duration-300 placeholder-blue-dark" value="Subscribe Form" name='fromName' placeholder="Last name">
						<input type="email" class="rounded-xl pl-5 bg-blue-dark focus:bg-opacity-30 focus:outline-none w-full transition-all duration-300 hover:transition-all placeholder-white" name='fromEmail' placeholder="Email address">
						<textarea type="text" class="w-full transition-all duration-300 mt-5 h-[90px] md:h-[110px] hidden lg:h-[135px] placeholder-blue-dark" name='message[body]' placeholder="Type your message here">Subscribe</textarea>
					</div>
					<button aria-label="submit-btn" type="submit" class="text-white ml-5 items-center flex transition-all duration-300">
						<span class="submit-text grid items-center leading-3 bg-blue-light hover:bg-blue-dark px-10 h-[50px] rounded-xl transition-all duration-200">Submit</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="absolute bottom-0 w-full"><img class="w-full object-cover" src="{{ siteUrl }}images/footer.png" alt=""></div></section>
