<section id="{{ block.service }}">
	{% set sliderOptions = {
		pageDots: false,
		prevNextButtons: false,
		wrapAround: true,
	} %}

	<div class="w-full h-full" data-action="Slider" data-options="{{ sliderOptions | json_encode }}">

		{% for block in craft.entries.section('services')%}
			<div class="w-full">
				<div class="h-[500px] md:h-[600px] lg:h-[800px] w-full z-0">
					{% for asset in block.image %}
						<img class="h-full opacity-30 lg:opacity-100 object-cover w-full lazyload" loading="lazy" src="{{ asset.url({height:800, format:'webp'}) }}" alt="{{ asset.title }}">
					{% endfor %}
				</div>
				<div class="absolute top-0 grid content-center w-full m-auto h-full">
					<div class="lg:w-1/2 ml-auto px-[50px] lg:pl-10 lg:pr-20">
						<p class="underline mb-5 text-[15px] text-blue-darkBg underline-offset">Our services</p>
						<h2 class="h1 mb-5 text-blue-darkBg">{{ block.heading }}</h2>
						<div class="text-blue-darkBg lg:w-3/4 mb-8">{{ block.description }}</div>
						{% if block.cta.getUrl|length %}
							<a href="{{ block.cta.getUrl()}}" class="mb-10 bg-blue-light transition-all duration-200 hover:bg-blue-dark text-white py-4 px-10 rounded-xl">Tell me more</a>
						{% endif %}
						<div class="text-blue-darkBg pt-5 flex">
							<p class="mr-5">0{{ loop.index }}</p>
							/
							<p class="ml-5">0{{ loop.length }}</p>
						</div>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
</section>
