<section class="bg-white">
	<div class="wrapper relative py-20">
		<div class="mb-10 text-blue-dark">
			<div class="grid items-center">
				<div class="w-full max-w-[800px] m-auto pb-10">
					<p class="mb-5 text-center h1">{{ block.heading }}</p>
					<p class="h2 pl-5 mb-5 text-center">{{ block.subHeading }}</p>
					<div class="text-center">{{ block.description }}</div>
				</div>
				<div class="grid max-w-[600px] m-auto w-full md:grid-cols-2">
					{% for block in craft.entries.section('staff').all()%}
						<div class="w-full p-[1px] md:p-5 mb-10 md:mb-0">
							<div class="w-[300px] m-auto md:w-full h-[300px] sm:h-[250px] md:h-[270px] rounded-2xl bg-opacity-20 p-[2px]">
								{% for asset in block.image %}
									<img class="w-full drop-shadow-xl rounded-2xl bg-opacity-20 bg-blue-dark pt-5 h-full object-cover object-top" src="{{ asset.url }}" alt="{{ asset.title }}">
								{% endfor %}
							</div>
							<div class="grid team-accord">

								<p class="h2 leading-3 text-center text-[18px] md:text-[22px] font-bold mt-3 md:mt-5 mb-0 md:mb-2">{{ block.title }}</p>
								<p class="mb-2 leading-3 text-center h2">{{ block.subHeading }}</p>
								<p class="leading-3 text-center">{{ block.heading }}</p>
								<details class="mt-3 md:mt-5 cursor-pointer transition-all duration-200">
									<summary class="transition-all text-center duration-200 summary-text"></summary>
									{{ block.more }}
								</details>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
