{% set testimonials = craft.entries.section('testimonials') %}
<section class="bg-[#F4EAE0] pt-10 md:pt-20 lg:pt-40 pb-10 md:pb-20 lg:pb-40 rounded-3xl mt-10">
	<div class="wrapper items-center pt-5 md:pt-10 lg:pt-0">
		<div class="max-w-[30rem]">
			<h2 class="relative">{{ block.heading|striptags('<b><strong>')|raw }}</h2>
		</div>
		<div class="grid md:grid-cols-4 mt-20 gap-8 styling-grid border-b pb-10">
			{% for testimonial in testimonials.limit(4) %}
				<div class="pt-8">
					<div class="flex pb-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="29.918" height="28.8" viewbox="0 0 29.918 28.8">
							<path id="Path_96209" data-name="Path 96209" d="M14.953,0,10.859,10.285,0,11l8.329,7.072L5.6,28.8l9.357-5.915L24.31,28.8,21.577,18.072,29.917,11l-10.871-.715Z" transform="translate(0)" fill="#f8cd37"/>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" width="29.918" height="28.8" viewbox="0 0 29.918 28.8">
							<path id="Path_96209" data-name="Path 96209" d="M14.953,0,10.859,10.285,0,11l8.329,7.072L5.6,28.8l9.357-5.915L24.31,28.8,21.577,18.072,29.917,11l-10.871-.715Z" transform="translate(0)" fill="#f8cd37"/>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" width="29.918" height="28.8" viewbox="0 0 29.918 28.8">
							<path id="Path_96209" data-name="Path 96209" d="M14.953,0,10.859,10.285,0,11l8.329,7.072L5.6,28.8l9.357-5.915L24.31,28.8,21.577,18.072,29.917,11l-10.871-.715Z" transform="translate(0)" fill="#f8cd37"/>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" width="29.918" height="28.8" viewbox="0 0 29.918 28.8">
							<path id="Path_96209" data-name="Path 96209" d="M14.953,0,10.859,10.285,0,11l8.329,7.072L5.6,28.8l9.357-5.915L24.31,28.8,21.577,18.072,29.917,11l-10.871-.715Z" transform="translate(0)" fill="#f8cd37"/>
						</svg>
						<svg xmlns="http://www.w3.org/2000/svg" width="29.918" height="28.8" viewbox="0 0 29.918 28.8">
							<path id="Path_96209" data-name="Path 96209" d="M14.953,0,10.859,10.285,0,11l8.329,7.072L5.6,28.8l9.357-5.915L24.31,28.8,21.577,18.072,29.917,11l-10.871-.715Z" transform="translate(0)" fill="#f8cd37"/>
						</svg>

					</div>
					<div class="border-t border-text pt-4">
						<h3>{{ testimonial.title }}</h3>
						<div>
							{{ testimonial.description }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
</section>
