<section class="relative">
	<div class="my-[80px] lg:my-[130px] wrapper">
		<p class="h1 mb-10 text-blue-darkBg md:min-w-[500px] lg:w-1/2">{{ block.heading }}</p>
		<p class="h3 mb-5 lg:w-1/2 w-full text-blue-darkBg">{{ block.subHeading }}</p>
		{% if block.videoEmbed %}
			<div class="h-[400px] lg:h-[500px] mb-5 w-full">
				<iframe class="w-full h-full object-cover" src="{{ block.videoEmbed }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		{% endif %}
		<div class="lg:flex h-full relative justify-between">
			<div class="lg:w-1/2">
				<div class="text-grey">{{ block.description }}</div>
			</div>
			{% if block.usp|length %}
				<div class="lg:pl-24 lg:w-1/2 sticky top-0">
					{% for entry in block.usp %}
						<div class="text-blue-darkBg">
							<p class="h3">{{ entry.header }}</p>
							<div class="flex justify-between justify-items-end">
								<p class="lg:mr-5 md:w-[70%]">{{ entry.description }}</p>
								<div class="lg:h-[90px] hidden md:block md:h-[80px]">
									<svg class="w-full h-full object-cover" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 102.045 102.045">
										<g id="Group_164239" data-name="Group 164239" transform="translate(-1320.118 -1465.978)">
											<circle id="Ellipse_1852" data-name="Ellipse 1852" cx="50.023" cy="50.023" r="50.023" transform="translate(1321.118 1466.978)" fill="none" stroke="#41474f" stroke-miterlimit="10" stroke-width="2"/>
											<path id="Path_96205" data-name="Path 96205" d="M198.9,189.857a2.5,2.5,0,0,1,.186,3.532l-19.074,21.193a5,5,0,0,1-7.255.191l-8.873-8.873a2.5,2.5,0,1,1,3.537-3.537l7.009,7.009a2.5,2.5,0,0,0,3.628-.1l17.31-19.233A2.5,2.5,0,0,1,198.9,189.857Z" transform="translate(1189.747 1314.638)" fill="#76cee4"/>
										</g>
									</svg>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</section>
