<section class="{% if block.paddingTop == " 1" %} pt-10 md:pt-20 lg:pt-40 {% else %} pt-5 lg:pt-10 {% endif %} {% if block.paddingBottom == " 1" %} pb-10 lg:pb-20 {% endif %}" id="{{ block.heading|replace({' ': ''})|lower }}">
	<div class="wrapper items-center pt-5 md:pt-10 lg:pt-0  grid lg:flex">
		<div class="lg:w-1/2 mb-10 lg:mb-0 text-image-block lg:mr-10 xl:mr-20 {% if block.direction == " 1" %} order-last lg:order-last lg:pl-10 xl:pl-20 {% else %} order-last lg:order-first lg:pr-10 xl:pr-20 {% endif %}">
			<p class="mb-5 text-image-heading h2">{{ block.heading }}</p>
			<p>{{ block.subHeading }}</p>
			<p>{{ block.description }}</p>
			{% if block.button.getUrl()|length %}
				<p class="text-[16px] pt-5 font-bold">
					<a class="bg-blue-light py-4 text-white px-7 rounded-lg transition-all duration-200 hover:bg-blue-darkBg  w-auto" href="{{ block.button.getUrl() }}">
						{{block.button.getCustomText()}}
					</a>
				</p>
			{% endif %}
		</div>

		<div class="h-[335px] sm:h-[400px] md:h-[400px] lg:h-[450px] mb-5 md:mb-10 lg:mb-0 xl:h-[500px] {% if block.direction == " 1" %} order-first lg:order-first {% else %} order-first lg:order-last {% endif %}  lg:w-1/2">
			{% for asset in block.image %}
				<img class="w-full h-full object-contain xl:object-cover object-center" src="{{ asset.url }}" alt="">
			{% endfor %}
		</div>
	</div>
</section>
