<section class="pt-10 md:pt-20 lg:pt-40">
	<div class="wrapper items-center pt-5 md:pt-10 lg:pt-0">
		<div class="max-w-[30rem] m-auto text-center">
			<h2 class="text-center">{{ block.heading|striptags('<b><strong>')|raw }}</h2>
		</div>
		<div class="grid md:grid-cols-3 mt-20 gap-8 styling-grid border-b pb-10">
			<div>{{ block.leftColumn }}</div>
			<div>{{ block.centerColumn }}</div>
			<div>{{ block.rightColumn }}</div>
		</div>
	</div>
</section>
