<section class="relative mt-[-100px] overflow-hidden">
	<div class="h-[200px] md:h-[300px] lg:h-[400px] mr-[-350px]">
		<img class="w-full h-full object-fit" src="{{ siteUrl }}images/wave-splitter.png" alt="wave">
	</div>
</section>
