html,
body {
  font-family: HellixTRIAL-Regular, sans-serif;
  font-weight: 200;
  background-color: white !important;
  // @apply text-text bg-offwhite;
  scroll-behavior: smooth;
}

textarea,
input {
  outline: none !important;
  border: none !important;
}

.wrapper {
  position: relative !important;
  padding-left: 180px;
  padding-right: 180px;
  @media (max-width: 1280px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media (max-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  width: 100%;
  margin: auto !important;
  max-width: 1600px !important;
}

// @mixin letter-spacing(spacing) {
//   letter-spacing: calc(-1em * 0.001 * #{$spacing});
// }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
.h1 {
  font-size: responsive 33px 60px;
  // @include letter-spacing(-0.3);
  line-height: responsive 37px 62px;
  font-family: HellixTRIAL-Regular, sans-serif;
  strong {
    color: #41474f !important;
  }
}

h2,
.h2 {
  font-size: responsive 30px 42px;
  font-family: HellixTRIAL-Regular, sans-serif;
  line-height: responsive 30px 41px;
  strong {
    font-weight: 900;
  }
}

h3,
.h3 {
  font-size: responsive 19px 22px;
  font-weight: 500 !important;
  font-family: Hellix-Regular, sans-serif;
  line-height: responsive 20px 28px;
}

h4,
.h4 {
  font-size: 15px;
}

h5,
.h5 {
  font-size: 13px;
}

h6,
.h6 {
  font-size: 13px;
  // @include letter-spacing(-0.3);
}

p,
.p {
  font-size: responsive 16px 18px;
  font-family: HellixTRIAL-Regular, sans-serif;

  line-height: 1.64;
  // @include letter-spacing(-0.3);
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

a,
.a {
  font-family: HellixTRIAL-Regular, sans-serif;
}

input {
  font-family: HellixTRIAL-Regular, sans-serif;
}

span {
  font-family: HellixTRIAL-Regular, sans-serif;
}

.text-xs {
  font-size: 13px;
  // @include letter-spacing(-0.3);
}

img.lazyload:not([src]) {
  visibility: hidden;
}

.wysiwyg {
  p {
    line-height: 2em;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// .newsletter-header {
//   .h2 {
//     font-size: responsive 30px 42px !important;
//     font-family: aktivgrotesk !important;
//     letter-spacing: 1px !important;
//   }
//   p {
//     font-family: aktivgrotesk !important;
//     font-weight: light !important;
//   }
// }

.underline-offset {
  text-underline-offset: 10px !important;
}

a:not([class]) {
  text-decoration: underline;
  &:hover {
    opacity: 0.7;
  }
}

.main-footer a {
  white-space: nowrap;
}

input {
  border: 0 !important;
}
input:focus {
  border: 0 !important;
}

textarea:focus,
input:focus {
  outline: none !important;
  background: none;
}

*:focus {
  outline: none !important;
}

.treat-div:hover {
  transition: ease-in-out;
  transition-duration: 700ms;
  .p-treat {
    transition-duration: 500ms;
    font-size: 17px !important;
  }
  hr {
    transition-duration: 500ms;
    display: none;
  }
}

// .province-select {
//   overflow: hidden;
//   .flickity-viewport {
//     overflow: visible;
//   }
// }

.flickity-button {
  background: #92e3a9 !important;
  transition: all 0.2s ease-out;
  background-repeat: no-repeat !important;
  background-position: bottom !important;
  &.next {
    background: #92e3a9 !important;
  }
}

.carousel-cell {
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: none;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.shadow-box {
  box-shadow: 0 0 7px 7px #94d1a6be !important;
}

a {
  text-decoration: none !important;
}

.accordian-label:after {
  content: "Expand for more info +";
  padding-left: 5px;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

input:checked + label:after {
  content: "Close -";
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: none;
}

.accordion__content {
  background: white;
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name="panel"]:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
  z-index: 100;
  left: 0;
}

.more-label:after {
  content: "Expand for more info +";
  padding-left: 5px;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

p::selection {
  background: #41474f;
}

.more__content {
  background: white;
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
input[name="more-panel"]:checked ~ .more__content {
  /* Get this as close to what height you expect */
  max-height: 50em;
  z-index: 100;
  left: 0;
}

// .disable-text-selection {
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

.headroom--unpinned,
.headroom--pinned,
.headroom {
  margin: auto !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-duration: 250ms;
  padding-top: 10px !important;
  background-color: #263238 !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 10px;
  height: 80px !important;
  .logo {
    height: 40px !important;
    width: auto !important;
  }
  .book-btn {
    height: 30px !important;
    width: 100px !important;
  }
  @media (max-width: 1024px) {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 250ms;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 5px !important;
    .logo {
      height: 35px !important;
    }
  }
}

.headroom--top {
  height: 125px !important;
  .logo {
    height: 50px !important;
    width: 100% !important;
  }
  @media (max-width: 1210px) {
    height: 100px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 250ms;
    .logo {
      height: 45px !important;
      width: auto !important;
    }
    li {
      font-size: 14px !important;
    }
    @media (max-width: 800px) {
      height: 70px !important;
    }
  }
  @media (max-width: 800px) {
    height: 80px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 250ms;
    .logo {
      height: 35px !important;
      width: auto !important;
    }
    li {
      font-size: 14px !important;
    }
  }
  @media (max-width: 300px) {
    height: 100px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-duration: 250ms;
    .logo {
      height: 30px !important;
      width: auto !important;
    }
    li {
      font-size: 14px !important;
    }
  }
  padding-left: 100px !important;
  padding-right: 100px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  .logo {
    @media (max-width: 1024px) {
      font-size: 23px !important;
    }
    font-size: 29px !important;
  }
  li {
    font-size: 15px !important;
  }
}

.team-accord {
  details {
    padding: 10px;
    padding-top: 0;
    border-radius: 10px;
  }
  details > summary {
    border-radius: 10px;
    list-style: none;
    background: #d3f4f0;
    width: 150px;
    margin: auto;
    padding: 10px;
    @media (max-width: 600px) {
      width: 40px;
      margin: auto;
      padding: 5px;
    }
  }
  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  details > summary:hover {
    background: #41474f;
    color: white;
  }
  details[open] {
    @media (max-width: 600px) {
      width: 300px;
      margin: auto;
      #staff-name {
        display: none !important;
      }
    }
    background: #41474f;
    color: white;
  }
  details[open] > summary {
    padding-bottom: 3px;
    border-radius: 10px 0 0 0;
    background: #41474f;
    color: white;
    border-bottom: white 1px solid;
    margin-bottom: 5px;
    width: 100%;
  }

  details[open] {
    text-align: center;
    .summary-text::before {
      content: "Show less -";
      @media (max-width: 768px) {
        content: "Less -";
        font-size: 20px;
      }
      @media (max-width: 600px) {
        content: "-" !important;
        font-size: 20px;
      }
    }
    -webkit-appearance: none;
  }
  .summary-text::before {
    content: "Show more +";
    @media (max-width: 600px) {
      content: "+" !important;
      font-size: 16px;
    }
    @media (max-width: 768px) {
      content: "More +";
      font-size: 16px;
    }
  }
  color: #263238;
}

.heading-block {
  strong {
    color: #7bcadf !important;
    font-weight: 600 !important;
  }
}

.heading-nav {
  max-width: 300px;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
  h1 {
    color: white !important;
    font-size: 16px !important;
    line-height: 16px !important;
    strong {
      color: white !important;
    }
  }
}

.accordian {
  summary {
    padding: 20px;
  }
  details {
    cursor: pointer;
    padding-top: 0;
    border-radius: 10px !important;
  }
  details > summary {
    font-size: responsive 19px 22px;
    font-weight: 500 !important;
    font-family: Hellix-Regular, sans-serif;
    line-height: responsive 19px 22px;
    border-radius: 10px;
    list-style: none;
    background: #d3f4f0;
    margin: auto;
  }
  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
  details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }

  details > summary:hover {
    background: #41474f;
    color: white;
  }
  details[open] {
    background: #41474f;
    color: white;
  }
  details[open] > summary {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 10px;
    border-radius: 10px 0 0 0;
    background: #41474f;
    color: white;
    border-bottom: white 1px solid;
    margin-bottom: 5px;
    width: 100%;
  }

  details[open] {
    padding: 20px;
    .entry-text::after {
      font-size: responsive 19px 22px;
      font-weight: 500 !important;
      font-family: Hellix-Regular, sans-serif;
      line-height: responsive 19px 22px;
      content: "-";
    }
    -webkit-appearance: none;
  }
  .entry-text::after {
    margin-left: 10px;
    font-size: responsive 19px 22px;
    font-weight: 500 !important;
    font-family: Hellix-Regular, sans-serif;
    line-height: responsive 19px 22px;
    content: "+";
  }
  color: #263238;
}

.heading-navs:nth-child(1) {
  display: none !important;
}

.text-image-block {
  ul {
    text-indent: -25px; /* key property */
    margin-left: 25px; /* key property */
    list-style: none;
    li {
      margin-bottom: 5px;
    }
  }
  ul li::before {
    display: flex;
    align-items: center;
    content: " ";
    border: 1px solid #7bcadf;
    border-radius: 100%;
    background-size: contain;
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;
    top: 0.1rem;
    margin-right: 10px;
    margin-left: 5px;
  }
}

.grecaptcha-badge {
  z-index: 9999;
}

.styling-grid {
  h3 {
    margin-bottom: 2rem;
  }
}
