{% macro primary(href = '', text = '', type = 'link', attributes = '') %}
	{% set buttonClass = 'inline-block px-8 pt-[20px] pb-[18px] text-xs bg-gold rounded-full text-white transition-all hover:bg-gold-dark hover:shadow-md border border-border disabled:bg-grey-light disabled:opacity-70 disabled:shadow-none ' %}

	{% set svg %}
	<svg class=' ml-3' xmlns="http://www.w3.org/2000/svg" width="6.499" height="6.499" viewbox="0 0 6.499 6.499">
		<g id="Group_2163" data-name="Group 2163" transform="translate(-1346.626 -255.852)">
			<path id="Path_3970" data-name="Path 3970" d="M1371.45,261.41v-5.058h-5.058" transform="translate(-18.824)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
			<line id="Line_125" data-name="Line 125" y1="5.646" x2="5.646" transform="translate(1346.98 256.352)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
		</g>
	</svg>
	{% endset %}
	{% if type == 'link' %}
		<a href="{{ href }}" class='{{ buttonClass }}' {{ attributes }}>
			<div class="flex">
				{{ text }}
				{{ svg }}
			</div>
		</a>
	{% else %}
		<button class='{{ buttonClass }}' {{ attributes }}>
			<div class="flex">
				<span>{{ text }}</span>
				{{ svg }}
			</div>
		</button>
	{% endif %}
{% endmacro %}

{% macro leftButton(classes = '') %}
	<button class='{{ classes }} p-3 transition-all hover:bg-grey-light'>
		<svg xmlns="http://www.w3.org/2000/svg" width="20.042" height="20.042" viewbox="0 0 20.042 20.042">
			<g id="Group_2140" data-name="Group 2140" transform="translate(0.707 0.707)">
				<path id="Path_3948" data-name="Path 3948" d="M-629.435,177.459h-18.628V158.832" transform="translate(648.063 -158.832)" fill="none" stroke="#160638" stroke-linejoin="round" stroke-width="1"/>
				<path id="Path_3949" data-name="Path 3949" d="M18.628,0,0,18.627" transform="translate(0 0)" fill="none" stroke="#160638" stroke-linecap="round" stroke-width="1"/>
			</g>
		</svg>
	</button>
{% endmacro %}

{% macro rightButton(classes = '') %}
	<button class='{{ classes }} p-3 transition-all hover:bg-grey-light'>
		<svg xmlns="http://www.w3.org/2000/svg" width="20.042" height="20.042" viewbox="0 0 20.042 20.042">
			<g id="Group_2139" data-name="Group 2139" transform="translate(-863.293 484.335) rotate(-90)">
				<path id="Path_3948" data-name="Path 3948" d="M-648.063,177.459h18.628V158.832" transform="translate(1113.063 705.168)" fill="none" stroke="#160638" stroke-linejoin="round" stroke-width="1"/>
				<path id="Path_3949" data-name="Path 3949" d="M0,0,18.628,18.628" transform="translate(465 864)" fill="none" stroke="#160638" stroke-linecap="round" stroke-width="1"/>
			</g>
		</svg>
	</button>
{% endmacro %}

{% macro tinyLink(href = '', text = '', classes = '', showSvg = true) %}
	<a href="{{ href }}" class='{{ classes }} mb-4 flex transition-all hover:text-gold-dark'>
		{{ text }}
		{% if showSvg %}
			<svg class='ml-1' xmlns="http://www.w3.org/2000/svg" width="6.499" height="6.499" viewbox="0 0 6.499 6.499">
				<g id="Group_2175" data-name="Group 2175" transform="translate(-1346.626 -255.852)">
					<path id="Path_3970" data-name="Path 3970" d="M1371.45,261.41v-5.058h-5.058" transform="translate(-18.824)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1"/>
					<line id="Line_125" data-name="Line 125" y1="5.646" x2="5.646" transform="translate(1346.98 256.352)" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1"/>
				</g>
			</svg>
		{% endif %}
	</a>
{% endmacro %}
