{% macro select(name = '', id = '', options = [], classes = '', value = '', attributes = '') %}
	<select name="{{name}}" id="{{id}}" class=' rounded-none appearance-none border-b border-border py-[18px] {# pl-6 pr-8 #} pr-4 text-center outline-none bg-transparent cursor-pointer focus:text-gold focus:border-gold transition-all w-full {{ classes }}' {{ attributes }}>
		{% for option in options %}
			<option {% if value == option.value %} selected {% endif %} value="{{ option.value }}" {{ loop.first ? 'selected' : '' }}>{{ option.label }}</option>
		{% endfor %}
	</select>
{% endmacro %}

{% macro range(name = '', id = '', classes = '', min = '', max = '') %}
	<div data-action='RangeSlider' class='w-full {{ classes }}'>
		<div class='flex justify-between text-xs overflow-hidden'>
			<input type="hidden" name='min' value='{{ min }}' data-from-input>
			<input type="hidden" name='max' value='{{ max }}' data-to-input>

			<label data-from class='pb-[14px]'></label>
			<label data-to class='pb-[14px]'></label>
		</div>
		<div data-range></div>
	</div>
{% endmacro %}

{% macro radio(id = '', name = '', value = '', label = '', checked = false) %}
	<div class="mb-4 relative mr-4">
		<input id='{{ id }}' class='checkbox opacity-0 absolute -z-1' type="radio" name='{{ name }}' value='{{ value }}' {{ checked ? 'checked' : '' }}>
		<label class='cursor-pointer hover:text-gold-dark transition-all' for="{{ id }}">{{ label }}</label>
	</div>
{% endmacro %}

{% macro input(id = '', type = 'text', name = '', value = '', label = '', required = false) %}
	<label for="{{ id }}" class='mb-8 block'>
		<span class=''>
			{{ label }}
			{% if required %}
				<span class=" text-red-400">*</span>
			{% endif %}
		</span>
		<input class='transition-all p-2 outline-none focus:bg-offwhite w-full border-b border-border focus:border-gold' type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{ required ? 'required=true' : '' }}>
	</label>
{% endmacro %}

{% macro textarea(id = '', type = 'text', name = '', value = '', label = '', required = false) %}
	<label for="{{ id }}" class='mb-8 block'>
		<span class=''>
			{{ label }}
			{% if required %}
				<span class=" text-red-400">*</span>
			{% endif %}
		</span>
		<textarea class='transition-all p-2 outline-none focus:bg-offwhite w-full border-b border-border focus:border-gold' type="{{ type }}" id="{{ id }}" name="{{ name }}" value="{{ value }}" {{ required ? 'required=true' : '' }}></textarea>
	</label>
{% endmacro %}
