{% set namespace = entry.slug ?? 'contact' %}
{% extends "_layout.twig" %}
{% import "_macros/button.twig" as button %}
{% import "_macros/container.twig" as container %}
{% import "_macros/form.twig" as form %}

{% set header %}
<h2>{{ entry.title }}</h2>
{% endset %}

{% block content %}

	{% set intro %}
	<h1 class='italic text-center text-purple'>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.
	</h1>
	{% endset %}

	<section class="bg-offwhite">
		{{ container.section(intro) }}
	</section>


	{% set content %}

	<div id='contact-success' class="hidden py-20 text-center">
		<video class='w-full mx-auto max-w-[130px]' src="{{ siteUrl }}check.mp4" autoplay muted playsinline></video>
		<h2>Message sent!</h2>
		<p>Thank you for your enquiry.</p>
	</div>


	<form method="post" action="" data-success='#contact-success' class='' accept-charset="UTF-8" data-action="Form">


		<h2 class='h1 mb-0'>Contact us</h2>
		<p>Occus que volorpo riossum idi con et ut odis</p>
		<div class="mb-20"></div>

		{{ csrfInput() }}
		{{ actionInput('contact-form/send') }}
		{# {{ redirectInput('contact/thanks') }} #}
		<input type="text" name='email' class='hidden'>

		<div class="md:flex ">
			<div class="flex-1 md:mr-8">
				{{ form.input('fromName', 'text', 'fromName', '', 'Full name', true) }}
			</div>
			<div class="flex-1 md:mr-8">
				{{ form.input('fromEmail', 'email', 'fromEmail', '', 'Email address', true) }}
			</div>

			<div class="flex-1">
				{{ form.input('phone', 'text', 'message[Phone]', '', 'Phone number', true) }}
			</div>
		</div>

		{{ form.textarea('textarea', 'text', 'message', '', 'Message', true) }}

		<p class='text-red-400 font-medium mb-8' data-errors></p>

		<div class="flex-col-reverse md:flex-row flex items-start md:items-center">
			{{ button.primary('', 'Submit', 'button', 'type=submit') }}

			<div class=' md:ml-5 mb-5 md:mb-0'>
				<input type="checkbox" name="terms" id="terms" required class='cursor-pointer'>
				<label for="terms" class='cursor-pointer'>
					I agree to the
					<a href="">terms and conditions</a>
				</label>
			</div>

		</div>


	</form>

	{% endset %}

	{{ container.section(content) }}


	{% set contacts %}
	<hr class="mb-20">
	{% if entry.heading %}
		<h1 class='mb-0'>{{ entry.heading }}</h1>
	{% endif %}
	{% if entry.subHeading %}
		<p>{{entry.subHeading}}</p>
	{% endif %}

	{% if entry.offices | length %}
		<div class="flex flex-wrap -ml-10">
			{% for office in entry.offices.all() %}
				<div class="pl-10 w-full md:w-1/2 mt-20">
					<h2>{{ office.heading }}</h2>
					{{ office.info }}

					{% set lat = office.location.lat %}
					{% set lon = office.location.lng %}
					{% if lat and lon %}
						<div class='mt-10' data-action='GMap' data-lat='{{ lat }}' data-lon="{{ lon }}"></div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% endset %}

	{{ container.section(contacts) }}

	{% set featured = featured.featuredProperties.all() %}
	{% if featured | length %}
		{% include "/property/_featured.twig" with {
			properties: featured
		} %}
	{% endif %}


{% endblock %}
