{% extends "_layout.twig" %}
{% import "/_macros/button.twig" as button %}
{% block content %}

	{% for block in entry.matrixIncludes.all() %}
		{% if block.type == "header" %}
			{% include "_includes/header.twig" %}
		{% elseif block.type == "formHeader" %}
			{% include "_includes/form-header.twig" %}
		{% elseif block.type == "fullText" %}
			{% include "_includes/full-text.twig" %}
		{% elseif block.type == "slider" %}
			{% include "_includes/slider-test.twig" %}
		{% elseif block.type == "accordian" %}
			{% include "_includes/accordian.twig" %}
		{% elseif block.type == "textImage" %}
			{% include "_includes/text-image.twig" %}
		{% elseif block.type == "textBlock" %}
			{% include "_includes/text-block.twig" %}
		{% elseif block.type == "centerText" %}
			{% include "_includes/center-text.twig" %}
		{% elseif block.type == "clinicUsp" %}
			{% include "_includes/clinic-usp.twig" %}
		{% elseif block.type == "threeColumn" %}
			{% include "_includes/three-column.twig" %}
		{% elseif block.type == "waveSpacer" %}
			{% include "_includes/wave-spacer.twig" %}
		{% elseif block.type == "staffBlock" %}
			{% include "_includes/staff-block.twig" %}
		{% elseif block.type == "heading" %}
			{% include "_includes/heading.twig" %}
		{% elseif block.type == "brands" %}
			{% include "_includes/brands.twig" %}
		{% elseif block.type == "testimonials" %}
			{% include "_includes/testimonials.twig" %}
		{% endif %}
	{% endfor %}
	{# {% include "_includes/signup.twig" %} #}
{% endblock %}
