{%- minify -%}
<!DOCTYPE html>
<html class="overflow-x-hidden disable-text-selection " lang="en-US">
	<head>
		<link rel="icon" type="image/png" sizes="16x16" href="{{siteUrl}}images/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta charset="utf-8"/>

		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		<meta name="referrer" content="origin-when-cross-origin"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">


		<style>
			.hidebeforeload {
				display: none;
			}

			@font-face {
				font-family: "HellixTRIAL-Regular";
				src: url("{{ siteUrl }}fonts/Hellix/HellixTRIAL-Regular.woff2") format("woff2");
				src: url("{{ siteUrl }}fonts/Hellix/HellixTRIAL-Regular.woff") format("woff");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: "aktivgrotesk";
				src: url("{{ siteUrl }}fonts/Aktiv/aktivgrotesk.woff2") format("woff2");
				src: url("{{ siteUrl }}fonts/Aktiv/aktivgrotesk.woff") format("woff");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}


			@font-face {
				font-family: "Roobert-Regular";
				src: url("6228016f2b172c06410f3a2356d33f6c.eot"); /* IE9*/
				src: url("6228016f2b172c06410f3a2356d33f6c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
				url("6228016f2b172c06410f3a2356d33f6c.woff2") format("woff2"), /* chrome、firefox */
				url("6228016f2b172c06410f3a2356d33f6c.woff") format("woff"), /* chrome、firefox */
				url("6228016f2b172c06410f3a2356d33f6c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
				url("6228016f2b172c06410f3a2356d33f6c.svg#Roobert-Regular") format("svg"); /* iOS 4.1- */
			}
		</style>

		{{ craft.twigpack.includeCssModule("app.css") }}

	</head>

	<body data-barba="wrapper">
		<main data-barba="container" data-barba-namespace="{{ namespace | default('home') }}">
			{% include "_globals/navigation.twig" %}
			{% block content %}{% endblock %}
		</main>
		{% include "/_globals/footer.twig" %}
		<script>
			window.siteUrl = "{{ siteUrl }}"
		</script>
		{{ craft.twigpack.includeSafariNomoduleFix() }}
		{{ craft.twigpack.includeJsModule("chunk-vendors.js", true, { async: true, defer: true }) }}
		{# {{ craft.twigpack.includeJsModule("chunk-jquery.js", true, { async: true, defer: true }) }} #}
		{{ craft.twigpack.includeJsModule("app.js", true) }}

	</body>
</html>
{%- endminify -%}
