{% set classes = classes | default('') %}
{% set type = type | default('primary') %}
{% set text = text | default('text') %}
{% set icon = icon | default('') %}
{% set href = href | default('') %}
{% set typeAttribute = typeAttribute|default('button') %}
{% set target = target | default(false) %}


{% set class = ' transition ease-in-out ' ~ classes %}
{% if type == 'secondary' %}
	{% set class = 'submit-text grid items-center leading-3 bg-blue-light text-white hover:bg-blue-dark px-10 rounded-xl transition-all duration-200  max-w-max ' ~ classes %}
{% endif %}


{% if href | length %}
	<a href="{{ href }}" {% if target %} target='{{ target }}' {% endif %} class="border h3 text-[15px] justify-center py-6 transition-all {{ class }} inline-flex items-center whitespace-nowrap">
		{{ text }}
	</a>
{% else %}
	<button type="{{ typeAttribute }}" class="rounded-xl transition-all duration-500 border justify-center h-[50px] {{ class }} inline-flex items-center whitespace-nowrap">
		<span class="h3 text-[15px] text">{{ text }}</span>
		{% if icon == 'arrow' %}
			{{ arrow }}
		{% endif %}
	</button>
{% endif %}
