<nav id="footer" class="bg-blue-darkBg  relative z-10">

	<div class="container mx-auto pt-20 pb-5 md:pt-28 wrapper self-center text-white">

		<div class=" flex-wrap overflow-hidden sm:-mx-1 md:-mx-px lg:-mx-2 xl:-mx-2">

			<div class="w-full mb-10">
				<a href="{{siteUrl}}">
					<img style="max-width: 70%;height:auto;" class="" src="{{siteUrl}}/images/footer-logo.png" alt="Logo">
				</a>
			</div>

			<!-- Start footer bottom -->

			<div class="md:flex mb-14 justify-between">
				<ul class="grid mb-5 self-center grid-cols-3">
					{% for nav in navigation.navigation %}
						<li class="md:inline mb-5 mr-5 text-[14px]" id="footer-navi-2">
							<a class="text-white hover:text-blue-light text-small" href="{{ nav.navigationLink }}">{{ nav.navigationLink.customText }}</a>
						</li>
					{% endfor %}
				</ul>
				<div>
					<div class="h-[35px] mb-5"><img class="h-full object-contain" src="{{ siteUrl }}images/cry.png" alt=""></div>
					<p class="text-[16px] font-bold">Giving back</p>
					<p class="mb-0 text-[14px]">The Hearing Healthcare centre is a supporter of CRY</p>
					<p class="text-[14px]">(Care and Relief for the Young).</p>
				</div>
				<div class="">
					<p class="text-white text-[16px] font-bold">Follow us</p>

					<p class="hover:text-blue-light text-[14px]">
						<a class="no-underline" href="https://www.facebook.com/people/The-Hearing-Healthcare-Centre-Jersey/100038880313645/">Facebook</a>
					</p>

				</div>

			</div>

			<div class="w-full">
				<p class="text-white text-center text-[12px] md:text-[14px] md:mt-0">Copyright © The Hearing Centre
					{{ "now"|date("Y") }}
					All rights reserved.</p>
			</div>
		</div>
	</div>
</nav>
