{% set image = image|default(false) %}
{% set classes = classes|default('') %}
{% set imgClasses = imgClasses|default('') %}
{% set alt = alt|default('') %}

{% set desktopSize = desktopSize|default({
    width: 1300,
    height: 'auto'
}) %}

{% set mobileSize = mobileSize|default({
    width: 700,
    height: 'auto'
}) %}

{% if image %}
	<picture
		class='{{ classes }} block'>
		{# desktop #}
		<source
		type="image/webp" media="(min-width: 700px)" data-srcset="{{ image.url({format: 'webp', width: desktopSize.width, height: desktopSize.height, quality: 96}) }}"/>
		{# mobile #}
		<source
		type="image/webp" media="(max-width: 700px)" data-srcset="{{ image.url({format: 'webp', width: mobileSize.width, height: mobileSize.height, quality: 96}) }}"/>
		{# fallback #}
		<img class='{{ imgClasses }} lazyload' data-src="{{ image.url({ width: desktopSize.width, height: desktopSize.height }) }}" alt="{{ alt }}">
	</picture>
{% endif %}
