<nav>
	<div class="relative z-[60] m-auto">
		<div class="headroom--unpinned headroom--pinned headroom fixed z-[200] h-full hidden menu w-full top-0 left-0 bg-blue-darkBg">
			<div class=" absolute z-[300] w-full top flex justify-between pt-[20px] px-[20px]">
				<div class="hover:opacity-80 cursor-pointer toggle-btn menu-btn">
					<a href="{{siteUrl}}">
						<img class="w-auto h-[35px] md:h-full" src="{{siteUrl}}images/logo-white.png" alt="logo">
					</a>
				</div>
				<div class="hover:opacity-80 cursor-pointer toggle-btn right-0 menu-btn">
					<button type="button" class="text-blue-darkBg rounded-lg w-20 h-[40px] text-center hover:bg-blue-darkBg transition ease-in-out hover:text-white hover:border hover:border-white bg-white">Close</button>
				</div>
			</div>
			<ul class="relative grid h-full content-center md:mr-0">
				{% for nav in navigation.navigation.all() %}
					<a class="no-underline relative z-10 nav-fade-1 h1 ml-5 hover:text-yellow text-white" href="{{ nav.navigationLink }}">
						<li class="my-2 text-[26px] md:text-[30px] lg:text-[40px]">
							{{ nav.navigationLink.customText }}
						</li>
					</a>
				{% endfor %}

				<hr class="border-white nav-fade-5 mx-5 mt-5">
				<div class="ml-[-350px] my-10 absolute z-0 top-0 h-full left-0 mt-20 opacity-10  md:h-[200px] rotate-45 lg:h-[400px] mr-[-350px]">
					<img class="w-full h-full object-cover " src="{{ siteUrl }}images/wave-splitter.png" alt="wave">
				</div>
				<div class="mx-5 mt-5 nav-fade-6 text-white">
					<a class="no-underline" href="mailto:01534866477">
						<p class="h2 text-[20px] md:text-[30px] lg:text-[40px] mb-2">Tel: 01534 866477</p>
					</a>
					<a class="no-underline" href="mailto:info@hearinghealthcare.je">
						<p class="h2 text-[20px] md:text-[30px] lg:text-[40px]">Email: info@hearinghealthcare.je</p>
					</a>
				</div>
			</ul>

			<div class="absolute z-[900] text-center mb-5 w-full m-auto bottom-0" style="border-top:1px solid white">
				<hr class="border-white mx-5">
				<div class="flex mt-5 justify-center">
					<a href="">
						<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16.455 16.455">
							<path id="Path_37" data-name="Path 37" d="M8.227,1.463a25.227,25.227,0,0,1,3.291.091,4.24,4.24,0,0,1,1.554.274,3.21,3.21,0,0,1,1.554,1.554A4.24,4.24,0,0,1,14.9,4.936c0,.823.091,1.1.091,3.291a25.226,25.226,0,0,1-.091,3.291,4.24,4.24,0,0,1-.274,1.554,3.21,3.21,0,0,1-1.554,1.554,4.24,4.24,0,0,1-1.554.274c-.823,0-1.1.091-3.291.091A25.226,25.226,0,0,1,4.936,14.9a4.24,4.24,0,0,1-1.554-.274,3.21,3.21,0,0,1-1.554-1.554,4.24,4.24,0,0,1-.274-1.554c0-.823-.091-1.1-.091-3.291a25.227,25.227,0,0,1,.091-3.291,4.24,4.24,0,0,1,.274-1.554,3.283,3.283,0,0,1,.64-.914,1.546,1.546,0,0,1,.914-.64,4.24,4.24,0,0,1,1.554-.274,25.227,25.227,0,0,1,3.291-.091M8.227,0A27.01,27.01,0,0,0,4.845.091,5.644,5.644,0,0,0,2.834.457a3.579,3.579,0,0,0-1.463.914A3.579,3.579,0,0,0,.457,2.834,4.165,4.165,0,0,0,.091,4.845,27.01,27.01,0,0,0,0,8.227,27.01,27.01,0,0,0,.091,11.61a5.644,5.644,0,0,0,.366,2.011,3.579,3.579,0,0,0,.914,1.463A3.579,3.579,0,0,0,2.834,16a5.644,5.644,0,0,0,2.011.366,27.01,27.01,0,0,0,3.382.091,27.01,27.01,0,0,0,3.382-.091A5.644,5.644,0,0,0,13.621,16,3.835,3.835,0,0,0,16,13.621a5.644,5.644,0,0,0,.366-2.011c0-.914.091-1.188.091-3.382a27.01,27.01,0,0,0-.091-3.382A5.644,5.644,0,0,0,16,2.834a3.579,3.579,0,0,0-.914-1.463A3.579,3.579,0,0,0,13.621.457,5.644,5.644,0,0,0,11.61.091,27.01,27.01,0,0,0,8.227,0m0,4.022A4.137,4.137,0,0,0,4.022,8.227,4.205,4.205,0,1,0,8.227,4.022m0,6.947A2.693,2.693,0,0,1,5.485,8.227,2.693,2.693,0,0,1,8.227,5.485,2.693,2.693,0,0,1,10.97,8.227,2.693,2.693,0,0,1,8.227,10.97m4.388-8.136a1.006,1.006,0,1,0,1.006,1.006,1.014,1.014,0,0,0-1.006-1.006" fill="#fff" fill-rule="evenodd"/>
						</svg>
					</a>
					<a href="">
						<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 16.455 13.347">
							<path id="Path_36" data-name="Path 36" d="M43.211,15.346a9.513,9.513,0,0,0,9.6-9.6V5.291a7.431,7.431,0,0,0,1.645-1.737,7.589,7.589,0,0,1-1.92.548A3.557,3.557,0,0,0,54,2.274a8.385,8.385,0,0,1-2.1.823A3.265,3.265,0,0,0,49.427,2a3.435,3.435,0,0,0-3.382,3.382,1.782,1.782,0,0,0,.091.731,9.451,9.451,0,0,1-6.947-3.565,3.5,3.5,0,0,0-.457,1.737,3.632,3.632,0,0,0,1.463,2.834,3.082,3.082,0,0,1-1.554-.457h0a3.341,3.341,0,0,0,2.742,3.291,2.818,2.818,0,0,1-.914.091,1.556,1.556,0,0,1-.64-.091,3.463,3.463,0,0,0,3.2,2.377,6.9,6.9,0,0,1-4.205,1.463A2.531,2.531,0,0,1,38,13.7a8.628,8.628,0,0,0,5.211,1.645" transform="translate(-38 -2)" fill="#fff" fill-rule="evenodd"/>
						</svg>
					</a>
					<a href="">
						<svg class="mx-2 h-6" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8.593 16.455">
							<path id="Path_35" data-name="Path 35" d="M85.576,16.455v-7.5h2.56L88.5,6.033H85.576V4.205c0-.823.274-1.463,1.463-1.463h1.554V.091C88.227.091,87.313,0,86.308,0A3.529,3.529,0,0,0,82.56,3.839V6.033H80V8.959h2.56v7.5Z" transform="translate(-80)" fill="#fff" fill-rule="evenodd"/>
						</svg>
					</a>
				</div>
			</div>
		</div>

		<div id="main-header" class="header-fade-3 w-full headroom--unpinned headroom--pinned headroom mob-menu border-b border-white overflow-hidden fixed flex flex-wrap justify-between items-center ">
			<div class="mb-0 relative z-50">
				<a href="{{siteUrl}}">
					<img class="logo h-full w-full" src="{{siteUrl}}images/logo-white.png" alt="logo">
				</a>
			</div>

			<ul class="hidden xl:flex md:mr-0">
				{% for nav in navigation.navigation.all() %}
					<li>
						<a class="no-underline mx-5 rounded-xl hover:text-blue-light px-2 hover:bg-blue-dark transition-all duration-300 py-2 text-white uppercase text-[14px]" href="{{ nav.navigationLink }}">{{ nav.navigationLink.customText }}</a>
					</li>
				{% endfor %}
			</ul>

			<div class="xl:hidden toggle-btn menu-btn flex xl:mr-24 flex-wrap lg:order-2">
				<button type="button" class="text-blue-darkBg rounded-lg w-20 xl:mr-5 h-[40px] text-center hover:bg-blue-darkBg transition ease-in-out hover:text-white hover:border hover:border-white bg-white">Menu</button>
			</div>
		</div>
	</div>
</nav>
